*{
    margin: 0;
    padding: 0;
}
    
html, body {
     height: 100%;
    margin: 0;
     padding: 0; 
}

.contenedor{
    background-color: #1B2A41;
    display: flex;
    min-height: 100%;
}

.div-izquierdo{
    margin: 5px;
  width: 60%;
}

.div-logo{
height: 10%;
}

.div-logo img{
    position:absolute;
    left: 30px;
    top: 15px;
}

#texto{
    height: 70%;
    width:70%;
    position: relative;
    left: 13%;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 32px;
    outline: none;  
    color: #ea7317;
    
}


.div-botones{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3px;
}

button{
    padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(1, 66, 119);
  box-shadow: 0 0 25px rgb(1, 69, 124);
}

button:hover{
    box-shadow: 0 0 5px rgb(1, 115, 207),
              0 0 25px rgb(1, 115, 207),
              0 0 50px rgb(1, 115, 207),
              0 0 100px rgb(1, 115, 207);
}

.div-derecho{
    width: 40%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultado{
    color: #ea7317;
    height: 500px;
    width: 70%;
    border-radius: 15px;
    font-size: 23px;
    background: #00040f;
    padding: 20px;
border: none;
backdrop-filter:blur(40%);
}


.noResultado{
    position: absolute;
    color: #fff;
    font-size: 18px;
}
.noResultado p{
    text-align: center;
}

.ocultar{
    display: none;
}

#copiar{
    position: absolute;
    bottom: 120px;
}

@media screen and (max-width:825px) {
    .div-izquierdo{
        width: 50%;
    }
    .div-derecho{
        width: 50%;
    }
    #texto{
        height: 60%;
    }
.noResultado{
    display: none;
}
.div-botones{
    margin-top: 15px;
    height: 60px;
    padding-top: 0px;
    flex-direction: column;
}
.div-botones button{
    margin-top: 40px;
    width: 70%;
}

}
@media screen and (max-width:540px) {
    .contenedor{
        flex-direction: column;
        background-repeat: round;
        height: 1000px;
    }
    .div-logo > img{
        position: static;
    }
    .div-izquierdo{
        width: 100%;
    }
    .div-derecho{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        width: 100%;
        height: 470px;
    }
    .div-derecho > img{
        display: none;
    }
    #resultado{
        height: 60%;
    }
    #copiar{
        position: relative;
        bottom: 0px;
        margin-top: 20px;
    }
}